<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Website</title>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .car-image {
          width: 300px;
          height: 200px;
          object-fit: cover;
        }
        h1{
            float: left;
        }
    
        .header {
            top:200px;
          background-color: #f8f9fa;
          padding: 20px;
        }
    
        .login-btn {
          margin-right: 10px;
        }
       
        .h{
            float:right;
            color: brown;
        }
      </style>
</head>
<body>
    
    <!-- <%- include('./partials/nav') %>   -->
  <!-- Login/Logout Buttons -->
  <div class="whole">
  <div class="header">
    
  </div>

  <!-- Header -->
  <div class="jumbotron text-center">
    <h1>Welcome to our Car Website</h1>
    <br>
    <br>
    <p class="h">Discover the latest models and find your dream car</p>
  </div>

  <!-- Car Section -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/images/audi.jpg" alt="Car 1" class="car-image">
        <h3>Car Model 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/honda.jpg" alt="Car 2" class="car-image">
        <h3>Car Model 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/mercedes.jpg" alt="Car 3" class="car-image">
        <h3>Car Model 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/images/bmw.jpg" alt="Car 1" class="car-image">
        <h3>Car Model 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/toyota.jpg" alt="Car 2" class="car-image">
        <h3>Car Model 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/honda.jpg" alt="Car 3" class="car-image">
        <h3>Car Model 6</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/images/mercedes.jpg" alt="Car 1" class="car-image">
        <h3>Car Model 7</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/audi.jpg" alt="Car 2" class="car-image">
        <h3>Car Model 8</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-4">
        <img src="/images/bmw.jpg" alt="Car 3" class="car-image">
        <h3>Car Model 9</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="foot">
        <p><a href="@design by Talhacom">@design BY TALHA.com</a></p>
         </div>
          <p>&copy; 2023 Car Website. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>

    <
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>