
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login Page</title>
  <style>
   

    .login-form {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      margin: 0 auto;
      margin-top: 100px;
    }

    .login-form h2 {
      margin-bottom: 30px;
      text-align: center;
    }

    .login-form .form-group {
      margin-bottom: 20px;
    }

    .login-form label {
      font-weight: bold;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
      height: 45px;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 15px;
      box-shadow: none;
      border: 1px solid #d8d8d8;
    }

    .login-form input[type="text"]:focus,
    .login-form input[type="password"]:focus {
      border-color: #a8a8a8;
    }

    .login-form .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      padding: 8px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 20px;
      width: 100%;
    }

    .login-form .btn-primary:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }

    .login-form .btn-link {
      color: #007bff;
      font-size: 14px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="login-form">
          <h2>Login</h2>
          <form method="post" action="/api/auth/login">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="email" class="form-control" id="username" placeholder="Enter username" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="text-center mt-3">
              Don't have an account? <a href="/sign_up.ejs">Register here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

